.edit-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  width: 45vw;
  height: 50vh;

  textarea {
    width: 80%;
    height: 80%;
    font-size: 0.9em;
    border: none;
    margin: 2.5rem;
    resize: none;
    font-family: 'Open Sans', sans-serif;
  }
  textarea:focus-visible {
    outline: 0;
  }

  .textarea-div {
    background-color: white;
    height: 100%;
    border: 1px solid #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.edit-container-enter {
  opacity: 0;
  transform: translateY(200px);
}

.edit-container-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.edit-container-exit {
  position: absolute;
  opacity: 1;
  transform: translate(0px);
}
.edit-container-exit-active {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.4s ease-in-out;
}

.edit-text-container-enter-done {
}
