$brand-primary: #f97068;
$white: #fff;
$grey-light: #ededed;

.ocr-component-container {
  h1 {
    color: #333447;
    align-self: flex-start;
    text-align: start;
    border-bottom: 1px solid #333447;
    line-height: 1.6em;
    width: 100%;
  }
  .main-container {
    margin: auto;
    margin-top: 4rem;
    background-color: #edf2ef;
    min-width: 200px;
    max-width: 50vw;
    min-height: 60vh;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    .flex-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 40vh;
    }

    .container-fluid {
      z-index: 2;

      ul {
        list-style-type: disc;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      }
    }

    .upload-container {
      position: relative;
      width: 90%;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .upload-container-exit {
      position: absolute;
      opacity: 1;
      transform: translate(0px) scale(0.5);
    }
    .upload-container-exit-active {
      opacity: 0;
      transform: translateY(-200px) scale(0.4);
      transition: all 0.5s ease-in-out;
    }

    .upload-container-enter {
      opacity: 0;
      transform: translateY(-200px) scale(0.5);
    }
    .upload-container-enter-active {
      opacity: 1;
      transform: translateY(-0) scale(1);
      transition: all 0.5s ease-in-out;
    }

    .upload-container-exit-done {
    }

    .upload-file-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #d1d646;
      border: 2px #57c4e5 dashed;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      img {
        margin: 0.3rem;
      }
      input[type='file'] {
        display: none;
      }

      .upload-file-label {
        display: flex;
        flex-direction: column;
        margin: auto;
        color: white;
        width: 120px;
      }
    }
  }
}
